<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        * {
            margin: 10px;
            padding:10px;
        }
    </style>
</head>
<body>
<h1>Delete order</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/orders">Order list</a>
</p>
<form th:action="@{/orders/delete}" th:object="${orders}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table class="tableStyle">

        <tr>
            <td>DATE:</td>
            <td th:text="${orders.date}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete order"></td>
        </tr>
    </table>
</form>
</body>
</html>