<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/list}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>

<a href="/orders/create">Create Order</a>
<a href="/orders">Order List</a>

<!--tim kiem -->
<form>
    <span>Search by date</span>
    <input name="orders" type="text">
    <input type="submit" value="seach">
</form>

<h1>Orders</h1>
<table border="1">
    <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>ADDRESS</th>
        <th>PHONE</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="order: ${orders}">
        <tr>
            <td th:text="${order.date}"></td>
            <td th:text="${order.customer.name}"></td>
            <td th:text="${order.customer.address}"></td>
            <td th:text="${order.customer.phone}"></td>
            <td><a th:href="@{/orders/edit/__${order.id}__ }">Edit</a></td>
            <td><a th:href="@{/orders/delete/__${order.id}__ }">Delete</a></td>
            <td><a th:href="@{/orders/view/__${order.id}__ }">View</a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/orders'(page=${orders.number - 1})}" th:if="${orders.hasPrevious()}"></a>
        <span th:text="${orders.number + 1}"></span>/<span th:text="${orders.totalPages}"></span>
        <a th:href="@{'/orders'(page=${orders.number + 1})}" th:if="${orders.hasNext()}"></a>
    </div>
</table>
</body>
</html>