<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/list}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>

<a href="{/create}">Create new product</a>
<h1>Product</h1>

<!--<form>-->
<!--    Search by name:-->
<!--    <input name="first" type="text"/>-->
<!--    <input type="submit" value="Search"/>-->
<!--</form>-->
<!--<br/>-->

<table border="1">
    <tr>
        <th>ID</th>
        <th>AVATAR</th>
        <th>DESCRIPTION</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="productn : ${products}">
        <tr>
            <td th:text="${productn.id}"></td>
            <td><img width="100px" height="50px" th:src="@{'/img/'+ ${productn.getAvatar()}}"></td>
            <td th:text="${productn.description}">
            <td th:text="${productn.name}">
            <td th:text="${productn.price}">

            <td><a th:href="@{/edit/__${productn.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${productn.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/product'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
        <a th:href="@{'/product'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
    </div>
</table>

</body>
</html>