<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>View Product</h1>
<a href="/product">List Product</a>
<!--<table>-->
<!--    <tr>-->
<!--        <td>Name:</td>-->
<!--        <td th:text="${product.name}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Image:</td>-->
<!--        <td th:text="${product.avatar}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Description:</td>-->
<!--        <td th:text="${product.description}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Price:</td>-->
<!--        <td th:text="${product.price}"></td>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>