<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 10px;
            padding: 10px;
        }
        .tableStyle {
            width: 50%;
        }

        .tableStyle td {
            background-color: #f0e7da;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customer">Customer list</a>
</p>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/create}" th:object="${customer}" method="post">
    <table class="tableStyle" border="1">
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Customer"></td>
        </tr>
    </table>
</form>
</body>
</html>