<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * { /* reset lại margin và padding cho các tag */
            margin: 10px;
            padding: 10px;
        }
        .tableStyle {
            width: 50%;
        }
        /*.tableStyle th {*/
        /*    background-color: #cad8fa;*/
        /*    padding: 5px;*/
        /*}*/
        .tableStyle td {
            background-color: #f0e7da;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Edit orders</h1>
<p>
    <a href="/customer">Customer list</a>
</p>
<!--/*@thymesVar id="message" type="java"*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/edit}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table class="tableStyle" border="1">
        <tr>
            <td>ADDRESS:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>NAME:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>PHONE :</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>